@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: aqua;
}

main {
    background-color: white;
    width: 560px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px bisque;
}

h1 {
    font-size: 2em;
    color: blue;
}

h2 {
    font-size: 1.5em;
    color: blue;
    margin: 10px;
}

p {
    text-align: justify;
    padding: 15px;
}

img.lado {
    float: right; 
    padding-left: 15px;   
}

a {
    text-decoration: none;
    font-weight: bold;
    color: blueviolet; 
    
}

a:hover {
    text-decoration: underline;
    color: blue;
}